[Interface]
Address = {{ item.item.wg_ip }}/32
PrivateKey = {{ item['content'] | b64decode | replace('\n', '')}}
{% if item.item.wg_dns_enabled is defined %}
DNS = {{ wg_subnet.server_ip }}
{% endif %}

[Peer]
PublicKey = {{ server_pubkey['content'] | b64decode | replace('\n', '')}}
Endpoint = {{ server_public_ipv4['content'] | replace('\n', '')}}:{{ wg_port }}
AllowedIPs = {{ wg_subnet.server_ip }}/32{% if item.item.block_client_communication is defined and item.item.block_client_communication == False %}, {{ wg_subnet.network }}{{ wg_subnet.cidr }}{% endif %}{% if item.item.allowed_ips is defined %}, {{ item.item.wg_allowed_ips | join(", ") }}{% endif %}{% if item.item.send_all_traffic is undefined or item.item.send_all_traffic != False %}, 0.0.0.0/0{% endif %}

{% if item.item.persistent_keepalive is defined and item.item.persistent_keepalive != false and item.item.persistent_keepalive != 0 %}
PersistentKeepalive = {{ item.item.persistent_keepalive }}
{% endif %}
