[Interface]
Address = {{ item.item.wg_ip }}/32
PrivateKey = {{ item['content'] | b64decode | replace('\n', '')}}
DNS = {{ wg_subnet.server_ip }}

[Peer]
PublicKey = {{ server_pubkey['content'] | b64decode | replace('\n', '')}}
Endpoint = {% if wg_subnet.server_dns is defined %}{{ wg_subnet.server_dns }}{% else %}{{ use_server_public_ipv4['content'] | replace('\n', '')}}{% endif %}:{{ wg_port }}
AllowedIPs = {{ wg_subnet.server_ip }}/32{% if wg_subnet.block_client_communication is defined and wg_subnet.block_client_communication != False %}, {{ wg_subnet.server_ip }}{{ wg_subnet.cidr }}{% endif %}{% if item.item.allowed_ips is defined %}, {{ item.item.allowed_ips | join(", ") }}{% endif %}{% if item.item.send_all_traffic is defined and item.item.send_all_traffic != False %}, 0.0.0.0/0{% endif %}

{% if item.item.persistent_keepalive is defined and item.item.persistent_keepalive != false and item.item.persistent_keepalive != 0 %}
PersistentKeepalive = {{ item.item.persistent_keepalive }}
{% endif %}
